:root {
    --background: linear-gradient(0deg, rgba(39,62,150,1) 0%, rgb(161, 180, 248) 100%);
    
    /* Theme button */
    --theme-button-background-color: #6b82bd;
    --theme-list-background-color: #e4e6ff;
    --theme-list-color: #1b2655;
    --theme-button-background-color-hover: #6b82bd;
    --theme-button-color: #1b2655;

    --theme-list-color-hover: #bccaee;

    /* Container */
    --container-title-color: #1b2655;
    --container-background: #e4e6ff;
    --container-border: none;
    --container-shadow: 0px 0px 15px -5px rgba(0,0,0,0.75);

    /* Inputs and add button */
    --input-background: #f6f8ff;
    --button-background: #6b82bd;

    --button-color-hover: #455b91;

    /* List items */
    --list-background: #ffffffb3;
    --list-border-divider: var(--container-background);
    --list-date-color: #303b64;
    --list-date-background: #bccaee;
    --list-text-color: #2e3b6d;
    --trash-icon-color: #474747;

    --list-button-background-hover: #753939;
    --trash-icon-color-hover: #9e9e9e;

    /* Summary */
    --summary-color: #636363;
    --delete-all-color: #df4848;

    --delete-all-color-hover: #5e1717;
}

html.default #default-theme {
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100vh;
    font-family: "Quicksand", sans-serif;
}

body {
    background: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 600px;
    height: 100%;
    max-width: 700px;
    width: 100%;
}

.themes-container {
    position: absolute;
    top: 0;
    right: 0;
}

.themes-button {
    padding: 10px;
    font-family: "Quicksand", sans-serif;
    border: none;
    background-color: var(--theme-button-background-color);
    color: var(--theme-button-color);
}

.themes-button:hover {
    background-color: var(--theme-button-background-color-hover);
    color: var(--theme-button-color);
    cursor: pointer;
}

.themes-content {
    background-color: var(--theme-list-background-color);
    color: var(--theme-list-color);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    
}

.themes-content:hover {
    background-color: var(--theme-list-color-hover);
    cursor: pointer;
}

.container {
    flex: 1;
    background-color: var(--container-background);
    padding: 50px;
    display: flex;
    flex-direction: column;
    box-shadow: var(--container-shadow);
    border-radius: 2%;
    border: var(--container-border);
}

.container-title {
    font-size: 45px;
    text-align: center;
    font-family: "Sarina", cursive;
    color: var(--container-title-color);
    padding-bottom: 15px;
}

.inputs {
    width: 100%;
    display: flex;
    padding-bottom: 20px;
    gap: 5px;
}

.input-date {
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
    background-color: var(--input-background);
    font-family: "Quicksand", sans-serif;
    cursor: pointer;
}

.text-field {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: var(--input-background);
    font-family: "Quicksand", sans-serif;
}


.add-button {
    background-color: transparent;
    color: var(--button-background);
    border: none;
    width: 30px;
    transition: color 0.2s;
    font-size: 30px;
}

.add-button:hover {
    color: var(--button-color-hover);
    transition: color 0.2s;
    cursor: pointer;
}

.list-container {
    list-style: none;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 10px;
    overflow-x: hidden;
}

.list-item {
    display: flex;
    align-items: stretch;
    word-break: break-all;
    background-color: var(--list-background);
    color: var(--list-text-color);
}

.list-date {
    font-size: 18px;
    padding: 10px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--list-date-color);
    background-color: var(--list-date-background);
}

.list-text {
    font-size: 20px;
    flex: 1;
    padding: 10px;
    display: flex;
    align-items: center;
}

.list-delete-button {
    width: 40px;
    border: none;
    background-color: transparent;
    opacity: 0;
    transition: opacity 0.2s;
    cursor: pointer;
}

.list-delete-button i:hover{
    color: var(--trash-icon-color-hover);
}

.list-delete-button i {
    font-size: 20px;
    color: var(--trash-icon-color);
    transition: color 0.2s;
}

.list-item:hover .list-delete-button{
   opacity: 1;
}

.memo-summary {
    display: flex;
    font-size: 20px;
    color: var(--summary-color);
    align-items: end;
}

.memo-info {
    flex: 1;
    font-size: 16px;
}

.delete-all-button {
    border: none;
    background-color: transparent;
    font-size: 16px;
    color: var(--delete-all-color);
    font-family: "Quicksand", sans-serif;
    transition: color 0.2s;
    font-weight: 600;
}

.delete-all-button:hover {
    color: var(--delete-all-color-hover);
    transition: color 0.2s;
    cursor: pointer;
}